[Unit]
Description=Hyprland Wayland Session
After=graphical.target
Wants=graphical.target

[Service]
ExecStart=/usr/bin/Hyprland
Restart=no
Environment=XDG_SESSION_TYPE=wayland
Environment=MOX_ENABLE_WAYLAND=1
TTYPath=/dev/tty1

[Install]
WantedBy=default.target
